.classpath
.project
.settings/
**/classes/

/private/iwant-testarea/testarea-root/*
!/private/iwant-testarea/testarea-root/.keep

# svn, remove when no migration from sf.net finished:
/.svn/
/as-iwant-developer/with/.svn/
/iwant-lib-descript/
/private/iwant-tutorial-wsdefs/.cache-main
