.classpath
.project
.settings
/private/iwant-testarea/testarea-root/*
!/private/iwant-testarea/testarea-root/.keep
**/classes/
/as-iwant-developer/with/bash/iwant/list-of/
/as-iwant-developer/with/bash/iwant/target/
/as-iwant-developer/.i-cached/.internal/*
/as-iwant-developer/.i-cached/descriptor/*
/as-iwant-developer/.i-cached/target/*
/as-iwant-developer/.i-cached/temp/*
/as-iwant-developer/.i-cached/wsdefdef-classes/*
!/as-iwant-developer/.i-cached/target/local-website
